body {
  background-image: url("https://gist.githubusercontent.com/brettlangdon/85942af486eb79118467/raw/2a7409cd3c26a90b2e82bdc40dc7db18b92b3517/06b3FMA.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
}

.search{
  outline: none;
  position: absolute;
  top: 90px;
  padding-left: 10px;
  right: 48px;
}
